
@model Student


<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Name</li>
        <li class="list-group-item">@Model.Age</li>
        <li class="list-group-item">@Model.Id</li>
    </ul>
            <h3> IS Deleted</h3>
</div>