

@model Student

<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            box-sizing: border-box;
        }



        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }

        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

        /* Clear floats after the columns */
        .row::after {
            content: "";
            display: table;
            clear: both;
        }

    </style>
</head>
<body>


    <div class="container">
        <form action="/Student/UpdateStudentActial" method="post">
            <div class="row">
                <div class="col-25">
                    <label asp-for="Id"></label>
                </div>
                <div class="col-75">
                    <input asp-for="Id" placeholder="Your ID.." >
                    <span class="text-danger" asp-validation-for="Id"> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-75">
                    <input asp-for="Name" placeholder="Your name..">
                    <span class="text-danger" asp-validation-for="Name"> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="Age"></label>
                </div>
                <div class="col-75">
                    <input asp-for="Age" placeholder="Your age..">
                    <span class="text-danger" asp-validation-for="Age"> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label asp-for="DepatmentId"></label>
                </div>
                <div class="col-75">
                    <input asp-for="DepatmentId" placeholder="Your departmentid..">
                    <span class="text-danger" asp-validation-for="DepatmentId"> </span>
                </div>
            </div>
            
            <br>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>

</body>
</html>